.toDoContainer .taskContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskContainer .title {
  margin: 15px 0px;
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  text-shadow: 2px 2px 2px #ffdde1;
  font-size: 35px;
}

.taskContainer .toDoForm {
  margin-bottom: 15px;
}

.toDoForm input {
  font-family: "Courgette", cursive;
  font-size: 20px;
  padding: 10px;
  background-color: #ffdde1;
  border: 7px solid #ee9ca7;
  border-radius: 30px;
}

.toDoContainer .toDoList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoList .pendingContainer,
.toDoList .finishedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin: 10px 25px;
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.3);
}
